@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: rgb(221, 221, 221);
  --cor-principal: rgb(52, 193, 185);
  --cor-texto: #c7c7c7;
  color: var(--cor-principal);
}
.container {
  background-color: #fff;
  max-width: 60%;
  height: 100vh;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.container::-webkit-scrollbar {
  width: 0px;
}
h1 {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 0.15rem;
}
button:focus {
  outline: none;
}

.btn {
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 50px;
  box-shadow: -7px 23px 40px 0px rgba(141, 181, 171, 1);
}

.btnAdd,
.btnList {
  font-size: 20px;
  background-color: var(--cor-principal);
  color: #fff;
}

.btnHome {
  position: absolute;
  font-size: 20px;
  background-color: var(--cor-principal);
  color: #fff;
  right: 10%;
  top: 10px;
}
